.inputWrapper {
  display: flex;
  flex-direction: column;

  label {
    color: rgba(0, 0, 0, 0.5);
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 8px;
  }
}

.passwordInput {
  position: relative;

  .passwordIcon {
    position: absolute;
    font-size: 2rem;
    bottom: 1.2rem;
    right: 10px;
    cursor: pointer;
  }
}

.errorMessage {
  font-size: 1.2rem;
  color: red;
  position: absolute;
  left: 0;
  bottom: -20px;
}
