<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/login.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" id="id" placeholder="username" />
          <input type="password" id="password" placeholder="password" />
          <button id="login-button">login</button>
          <p class="message">
            Not registered? <a href="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
